---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import IssueGrid from "../components/IssueGrid.astro";
import StoryGrid from "../components/StoryGrid.astro";
import VideoGrid from "../components/VideoGrid.astro";
import SnsGrid from "../components/SnsGrid.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Stats />
    <IssueGrid />
    <StoryGrid />
    <VideoGrid />
    <SnsGrid />
  </main>
  <Footer />
</BaseLayout>
