---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Catchphrase from "../components/Catchphrase.astro";
import Stats from "../components/Stats.astro";
import MainProjects from "../components/MainProjects.astro";
import ActivityByRegion from "../components/ActivityByRegion.astro";
import Recognition from "../components/Recognition.astro";
import StoryGrid from "../components/StoryGrid.astro";
import VideoGrid from "../components/VideoGrid.astro";
import SnsGrid from "../components/SnsGrid.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Catchphrase />
    <Stats />
    <MainProjects />
    <ActivityByRegion />
    <Recognition />
    <StoryGrid />
    <VideoGrid />
    <SnsGrid />
  </main>
  <Footer />
</BaseLayout>
