---
/**
 * ASEZ 공식 로고 (asez.org에서 가져온 SVG path 그대로).
 * 색은 currentColor로 상속받음 → 부모 요소의 color 속성으로 제어.
 *
 * Props:
 *   height: 픽셀 (기본 24)
 *   title:  접근성 라벨 (기본 "ASEZ")
 */
interface Props {
  height?: number;
  title?: string;
}
const { height = 24, title = "ASEZ" } = Astro.props;
---

<svg
  viewBox="0 0 73.44 28"
  xmlns="http://www.w3.org/2000/svg"
  height={height}
  width={height * (73.44 / 28)}
  role="img"
  aria-label={title}
  fill="currentColor"
>
  <title>{title}</title>
  <path d="M27.08,13.54c0,4.75-2.45,8.93-6.15,11.34h0c.74,1.25,1.8,2.29,3.07,3.01v.09c-8.54.16-12.94-1-14.45-1.51C4.02,24.77,0,19.62,0,13.54,0,6.06,6.06,0,13.54,0s13.54,6.06,13.54,13.54ZM3.93,13.54c0,5.31,4.3,9.61,9.61,9.61s9.61-4.3,9.61-9.61S18.85,3.93,13.54,3.93,3.93,8.23,3.93,13.54ZM10.8,8.17c-.22.4-.42.84-.6,1.31.87.27,1.82.43,2.81.47v-3.78c-.82.21-1.59.9-2.21,2ZM62.49,18.82l6.72-9.66v-.08h-6.1v-2.64h10.24v1.85l-6.57,9.54v.08h6.67v2.64h-10.95v-1.72h0ZM42.12,17.47c.84.45,2.17.88,3.53.88,1.46,0,2.24-.61,2.24-1.53,0-.87-.67-1.37-2.36-1.97-2.35-.83-3.89-2.12-3.89-4.17,0-2.41,2.02-4.23,5.33-4.23,1.61,0,2.77.32,3.6.71l-.71,2.56c-.56-.27-1.57-.67-2.94-.67s-2.05.64-2.05,1.36c0,.9.78,1.29,2.61,1.98,2.49.93,3.65,2.23,3.65,4.22,0,2.35-1.8,4.38-5.68,4.38-1.6,0-3.2-.44-3.98-.88l.64-2.64h0ZM32.18,16.92l-1,3.62h-3.3l4.3-14.1h4.17l4.39,14.1h-3.44l-1.08-3.62h-4.05ZM35.76,14.54l-.88-3c-.15-.52-.3-1.13-.45-1.71-.09-.35-.17-.69-.26-1h-.04c-.08.34-.17.72-.26,1.11-.12.56-.25,1.12-.38,1.61l-.84,3h3.12,0ZM55.43,14.58h5.19v-2.59h-5.19v-2.94h5.5v-2.61h-8.69v14.1h8.99v-2.61h-5.8v-3.36ZM13.02,16.17c-1.08.04-2.12.21-3.08.51h0c-.21-.81-.34-1.7-.37-2.62h3.46v2.12ZM9.56,13.03h0s0,0,0,0ZM13.02,13.03h-3.46c.04-.9.15-1.76.35-2.57.97.29,2.02.47,3.1.51v2.05ZM9.25,9.13c.19-.52.41-1.01.66-1.46.31-.55.65-1.01,1.03-1.39-1.2.43-2.26,1.14-3.1,2.07.04.03.08.06.12.08.4.27.83.5,1.29.7h0ZM21.23,13.03h-2.7c-.04-1.03-.18-2.03-.42-2.95.53-.23,1.03-.5,1.48-.8.08-.05.17-.11.25-.17.8,1.13,1.3,2.47,1.39,3.93ZM8.95,10.11c-.55-.24-1.08-.51-1.56-.83-.06-.04-.13-.09-.19-.14-.78,1.11-1.27,2.45-1.36,3.89h2.7c.04-1.02.18-2,.41-2.92h0ZM5.84,14.05h2.7c.04,1.04.18,2.05.42,2.98-.57.24-1.09.51-1.57.84-.03.02-.05.04-.08.06h0s-.05.04-.08.06c-.8-1.13-1.3-2.47-1.39-3.93ZM9.28,18.01h0s0,0,0,0h0ZM7.97,18.72c.4-.27.84-.51,1.3-.71.18.5.4.97.64,1.4.31.55.65,1.01,1.03,1.39-1.18-.42-2.23-1.13-3.07-2.03.01,0,.03-.02.04-.03.01-.01.03-.02.04-.03ZM13.01,20.9c-.82-.21-1.59-.9-2.21-2h0c-.22-.39-.41-.81-.57-1.26.87-.27,1.81-.42,2.78-.46v3.71ZM17.79,18.04c-.18.49-.39.95-.63,1.37-.31.55-.65,1.01-1.03,1.39,1.17-.42,2.2-1.11,3.03-1.99-.02-.01-.05-.03-.07-.05-.02-.02-.04-.03-.07-.05-.38-.25-.8-.48-1.23-.68ZM14.04,17.19c.98.05,1.93.21,2.79.48h0c-.16.44-.35.86-.56,1.23-.63,1.11-1.41,1.8-2.23,2v-3.72ZM18.1,17.06c.54.23,1.04.5,1.5.81.08.05.15.1.22.15.81-1.13,1.32-2.49,1.42-3.97h-2.69c-.04,1.06-.18,2.07-.44,3.01h0ZM17.81,9.09h0s0,0,0,0h0ZM17.82,9.09c.43-.19.83-.41,1.21-.66l.18-.12c-.84-.9-1.89-1.61-3.07-2.03.38.38.72.84,1.03,1.39.25.44.47.91.65,1.42ZM14.04,6.17c.83.2,1.6.9,2.23,2h0c.22.4.42.83.58,1.29-.88.28-1.83.44-2.82.49v-3.79ZM17.15,10.44c-.97.31-2.02.49-3.11.54v2.06h3.47c-.04-.91-.15-1.78-.36-2.59ZM14.04,14.05h3.48c-.04.93-.17,1.83-.38,2.65-.97-.31-2.02-.48-3.1-.53v-2.12Z" />
</svg>
